{{block "base" .}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,"> <!-- Disables favicon -->
  <link href="../static/css/dist/output.css" rel="stylesheet">

  <title>{{template "title"}}</title>
</head>
<body>
  {{template "layout" .}}

  <h1 class="text-4xl font-bold underline text-purple-900">Hello, world!</h1>

  {{if .HotReload}}
    <script src="../static/js/hotreload.js"></script>
  {{end}}
</body>
</html>
{{end}}

{{define "title"}}{{end}}